label
	display block
input
	width 100%
input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='text'], textarea {
	-webkit-appearance: none;
	box-sizing: border-box;
}
input
	line-height: normal;
	border-radius: 3px;
	border: 1px solid #aebdc1;
	box-sizing: border-box;
	font-size: 16px;
	padding: 10px;
	transition: border-color 0.2s ease-in-out;
	width: 100%;
button, input, optgroup, select, textarea
	color: inherit;
	font: inherit;
	margin: 0;
fieldset
	margin 20px 0
input[type='submit']
	cursor: pointer;
	display: block;
	width: initial;
	color white
	background-color $black
	border-radius 4px
	padding: 12px;
	margin-top: 12px;
	transition: background-color ease .5s;
	-webkit-appearance: none;
	&:hover
		background-color $main
	
	